{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "spnClientId": {
            "value": "<Service Principal ClientId>"
        },
        "spnClientSecret": {
            "value": "<Service Principal Secret>"
        },
        "spnTenantId": {
            "value": "<Service Principal TenantId>"
        },
        "windowsAdminUsername": {
            "value": "arcdemo"
        },
        "windowsAdminPassword": {
            "value": "ArcPassword123!!"
        },
        "logAnalyticsWorkspaceName": {
            "value": "ArcBox-Workspace"
        },
        "deployBastion": {
            "value": true
        },
        "githubAccount": {
            "value": "DCMattyG"
        },
        "githubBranch": {
            "value": "main"
        },
        "rdpPort": {
            "value": "3389"
        },
        "sshPort": {
            "value": "22"
        }
    }
}
